.accordion-header {
    /* display, overflow, and whiteSpace are needed
    for ellipsis text overflow to work. */
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* Space between text and the close icon */
    margin-inline-end: 0.8rem;
}

.content-heading {
    margin-block-end: 1.2rem;
}