.framework-perseus .perseus-graded-group {
    position: relative;
    width: 100%;
    margin-left: 3px;
    padding-left: 5px;
}
.framework-perseus .perseus-graded-group.answer-correct {
    border-left: 3px solid #76a005;
    margin-left: 0;
}
.framework-perseus .perseus-graded-group.answer-incorrect {
    border-left: 3px solid #ff8787;
    margin-left: 0;
}
.framework-perseus .perseus-graded-group .group-icon {
    font-size: 14px;
    position: absolute;
    top: 50%;
    top: calc(50% - 7px);
    left: -30px;
    text-align: center;
    width: 16px;
}
