.perseus-image-widget .perseus-image-title {
    text-align: center;
}
/* Reset default paragarph margins. */
.perseus-image-widget .perseus-image-title .paragraph {
    margin-block: 0;
}
.perseus-image-widget .perseus-image-caption {
    color: rgba(33, 36, 44, 0.7);
    padding-left: 16px;
    position: relative;
}
.perseus-image-widget .perseus-image-caption .paragraph {
    font-size: 14px;
    padding-right: 12px;
    margin-block: 0;
}
.perseus-image-editor .label-settings td {
    padding: 5px 4px;
    text-align: center;
}
.perseus-image-editor .label-settings tr:nth-child(odd) td {
    background-color: transparent;
}
.perseus-image-editor .label-settings th,
.perseus-image-editor .label-settings td {
    border-width: 0;
}
.perseus-image-editor .image-settings,
.perseus-image-editor .graph-settings {
    margin-top: 5px;
}
.perseus-image-widget {
    margin-inline: auto;
}
.perseus-hint-renderer .perseus-image-widget {
    margin-inline-start: 0;
}
.perseus-hint-renderer .svg-image {
    margin-inline-start: 0;
}
