.framework-perseus .perseus-label-image-widget-instructions div.paragraph {
    margin: 0;
}
@media (max-width: 767px) {
    [id*="perseus-label-image-widget-answer-pill"]
        > div.perseus-renderer-responsive {
        all: revert;
    }
    .framework-perseus.perseus-mobile
        [id*="perseus-label-image-widget-answer-pill"]
        mjx-container {
        all: revert;
    }
}
.framework-perseus:not(.perseus-article).perseus-mobile
    .perseus-label-image-widget-instructions {
    color: initial;
}
.framework-perseus:not(.perseus-article).perseus-mobile
    .perseus-label-image-widget-instructions
    .perseus-renderer
    .paragraph
    > .paragraph {
    color: initial !important;
    font-size: initial !important;
    line-height: initial !important;
}
.framework-perseus:not(.perseus-article).perseus-mobile
    .perseus-label-image-widget-instructions
    .perseus-block-math {
    padding: 0;
}
.framework-perseus:not(.perseus-article).perseus-mobile
    .perseus-label-image-widget-instructions
    .perseus-block-math
    mjx-container {
    font-size: initial !important;
    line-height: initial !important;
}
.perseus-label-image-widget-answer-choices
    .perseus-block-math
    > .perseus-block-math-inner,
.perseus-label-image-widget-instructions
    .perseus-block-math
    > .perseus-block-math-inner {
    overflow-x: hidden !important;
}
