.orderer {
    position: relative;
    /* Start fix for wrapping issue caused by CSS reset removal */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    /* End Fix */
}
.orderer.layout-horizontal .draggable-box {
    margin-left: 0;
    margin-top: 30px;
    padding: 13px;
    /* Start fix for wrapping issue caused by CSS reset removal */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    /* End Fix */
}
.orderer .card {
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.orderer.height-normal.layout-horizontal .card {
    height: 65px;
}
.orderer.height-normal.layout-vertical .card {
    padding: 5px;
}
.orderer.height-auto .card {
    padding: 0;
}
.orderer.height-auto.layout-horizontal .drag-hint {
    min-height: 65px;
    min-width: 22px;
}
.orderer.layout-horizontal .bank {
    padding: 0;
    margin: 0px 13px;
    /* Start fix for wrapping issue caused by CSS reset removal */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    /* End Fix */
}
.orderer div.paragraph {
    margin: 0;
}
.orderer .card-wrap {
    width: auto;
    /* Start fix for wrapping issue caused by CSS reset removal */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* End Fix */
}
.orderer.layout-horizontal .card-wrap {
    flex-shrink: 0;
    display: inline-block;
    margin: 4px; /* Uniform spacing around each card */
}
.orderer.layout-vertical .card-wrap {
    float: none;
    text-align: center;
}
.orderer.layout-vertical .card-wrap:not(:first-child) {
    margin-top: 8px;
}
.orderer.layout-vertical .bank,
.orderer.layout-vertical .draggable-box {
    box-sizing: border-box;
    float: left;
    max-width: 50%;
}
.orderer.layout-vertical .bank {
    padding: 11px 20px 11px 0;
    margin: 0;
}
.orderer.layout-vertical .draggable-box {
    margin-top: 0;
    padding: 10px;
    min-height: 170px;
}
.orderer.layout-vertical .draggable-box .drag-hint {
    box-sizing: border-box;
    min-width: 140px;
    min-height: 34px;
}
.orderer.layout-vertical .draggable-box .placeholder {
    box-sizing: border-box;
}
