.perseus-widget-passage-editor .perseus-single-editor {
    font-family: Times, "Times New Roman", serif;
    margin-left: -11px;
}
.perseus-widget-passage-editor .perseus-textarea-pair textarea {
    font-size: 13px;
    line-height: 17px;
}
