.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-widget-passage,
.perseus-widget-passage-container .perseus-widget-passage {
    line-height: 20px;
    margin: 22px;
    position: relative;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-widget-passage
    div.paragraph,
.perseus-widget-passage-container .perseus-widget-passage div.paragraph {
    font-family: KaTeX_Main, Times, "Times New Roman", serif;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-widget-passage
    .passage-title
    div.paragraph,
.perseus-widget-passage-container
    .perseus-widget-passage
    .passage-title
    div.paragraph {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 10px;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-widget-passage
    > .passage-text
    div.paragraph,
.perseus-widget-passage-container
    .perseus-widget-passage
    > .passage-text
    div.paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-indent: 20px;
    margin: 0;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-widget-passage
    > .passage-text
    div.paragraph
    span,
.perseus-widget-passage-container
    .perseus-widget-passage
    > .passage-text
    div.paragraph
    span {
    text-indent: 0;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-widget-passage
    > .passage-text
    div.paragraph
    em,
.perseus-widget-passage-container
    .perseus-widget-passage
    > .passage-text
    div.paragraph
    em {
    line-height: 0;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    mjx-container,
.perseus-widget-passage-container mjx-container {
    line-height: 18px;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .footnotes,
.perseus-widget-passage-container .footnotes {
    margin-top: 22px;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .footnotes
    div.paragraph,
.perseus-widget-passage-container .footnotes div.paragraph {
    font-size: 14px;
    margin: 0;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-highlight,
.perseus-widget-passage-container .perseus-highlight {
    background-color: #fffabe;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-review-highlight,
.perseus-widget-passage-container .perseus-review-highlight {
    background-color: #eee7b2;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-passage-square-label,
.perseus-widget-passage-container .perseus-passage-square-label,
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-passage-circle-label,
.perseus-widget-passage-container .perseus-passage-circle-label,
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .perseus-passage-bracket-label,
.perseus-widget-passage-container .perseus-passage-bracket-label {
    font-family: Times, "Times New Roman", serif;
    font-size: 16px;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .line-numbers,
.perseus-widget-passage-container .line-numbers {
    font-size: 12px;
    font-style: italic;
    font-weight: 600;
    position: absolute;
    text-align: right;
    max-height: 100%;
    overflow: hidden;
    padding-right: 6px;
    left: -52px;
    width: 37px;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .line-numbers
    span,
.perseus-widget-passage-container .line-numbers span {
    display: block;
    line-height: 20px;
    position: relative;
    top: 2px;
    visibility: hidden;
}
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .line-numbers
    span:nth-of-type(5n),
.perseus-widget-passage-container .line-numbers span:nth-of-type(5n),
.framework-perseus.perseus-article
    .perseus-renderer
    .perseus-widget-passage-container
    .line-numbers
    .line-marker,
.perseus-widget-passage-container .line-numbers .line-marker {
    visibility: visible;
}
.perseus-widget-passage-editor .perseus-single-editor {
    font-family: Times, "Times New Roman", serif;
    margin-left: -11px;
}
.perseus-widget-passage-editor .perseus-textarea-pair textarea {
    font-size: 13px;
    line-height: 17px;
}
body.sat-section .perseus-widget-passage {
    margin-top: 0;
}
