.perseus-widget-plotter {
    svg, vml {
        position: absolute;
    }
    span.rotate  {
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    }
}

.set-from-scale-box {
    border: 2px solid #EEEEEE;
    border-radius: 3px;
    padding: 3px;
}

.categories-title {
    font-size: 14px;
}

.perseus-mobile {
    .perseus-widget-plotter {
        border: solid 0.5px @gray76;
        border-radius: 4px;

        .graphie-label .katex {
            color: @gray41;
        }
    }
}
