.draggy-boxy-thing .draggable-box,
.draggy-boxy-thing .cards-area {
    /* This is the overall area where cards are dragged to*/
    background: var(--wb-semanticColor-core-background-base-default);
    border: var(--wb-border-width-thin) solid
        var(--wb-semanticColor-core-border-neutral-subtle);
    border-radius: var(--wb-border-radius-radius_040);
}
.draggy-boxy-thing .card {
    /* Cards being dragged */
    background-color: var(--wb-semanticColor-core-background-base-default);
    border: var(--wb-border-width-thin) solid
        var(--wb-semanticColor-core-border-neutral-subtle);
    border-radius: var(--wb-border-radius-radius_080);
    cursor: pointer;
    touch-action: none;
    box-shadow: var(--wb-boxShadow-low);
}
.draggy-boxy-thing .card.placeholder {
    /* The dashed line box changes color when dragging a card */
    background: var(--wb-semanticColor-core-background-neutral-subtle);
    border: var(--wb-border-width-thin) solid
        var(--wb-semanticColor-core-border-neutral-subtle);
}
.draggy-boxy-thing .card.drag-hint {
    /* Dashed line box */
    background: var(
        --wb-semanticColor-core-background-base-subtle
    ); /* from caitlyn's comment */
    border: var(--wb-border-width-thin) dashed
        var(--wb-semanticColor-core-border-neutral-default);
    /*cursor: auto;*/
    border-radius: var(
        --wb-border-radius-radius_040
    ); /* from caitlyn's comment */
}
/*.draggy-boxy-thing .card.drag-hint:hover {*/
/*    border-color: var(--wb-semanticColor-core-border-neutral-default);*/
/*    box-shadow: none;*/
/*}*/
.draggy-boxy-thing .card.dragging {
    /*background-color: var(*/
    /*    --wb-semanticColor-core-background-instructive-subtle*/
    /*);*/
    /*opacity: 0.8;*/
    /*filter: opacity(0.8);*/ /* from caitlyn's comment */
    cursor: grabbing; /* from caitlyn's comment */
}
.draggy-boxy-thing .card.stack {
    z-index: auto;
}
.draggy-boxy-thing .card.stack:after {
    content: " ";
    background-color: var(--wb-semanticColor-core-background-base-default);
    border: var(--wb-border-width-thin) solid
        var(--wb-semanticColor-core-border-neutral-subtle);
    border-bottom-color: var(--wb-semanticColor-core-border-neutral-default);
    border-radius: var(--wb-border-radius-radius_040);
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 1px;
    left: 1px;
    position: absolute;
}
.draggy-boxy-thing .card:hover {
    /*border-color: var(--wb-semanticColor-core-border-warning-default);*/
    /*box-shadow: 0 0 4px var(--wb-semanticColor-core-border-warning-strong);*/
    box-shadow: var(--wb-boxShadow-mid);
    cursor: grab;
}
.perseus-sortable div.paragraph {
    margin: 0;
}
.perseus-sortable .perseus-sortable-draggable:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.perseus-sortable .perseus-sortable-draggable > div {
    display: inline-block;
    font-size: var(--wb-font-body-size-small);
    max-width: 100%;
    vertical-align: middle;
}
.perseus-sortable .perseus-sortable-draggable-unpadded img {
    vertical-align: bottom;
}
