.label-with-info-tip {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dimensions-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--wb-semanticColor-core-background-neutral-subtle);
    border: 1px solid var(--wb-semanticColor-core-border-base-subtle);
    border-radius: var(--wb-sizing-size_080);
    margin-block-start: var(--wb-sizing-size_080);
    margin-block-end: var(--wb-sizing-size_120);
    padding: var(--wb-sizing-size_080);
}
