/**
 * Overrides of mafs theme-- we will want to move this into JS land
 * to take advantage of WB tokens
 */
.MafsView {
    --mafs-bg: transparent;
    --mafs-fg: rgb(33, 36, 44); /* WB color.offBlack */

    /* Grid lines */
    --mafs-line-color: rgba(33, 36, 44, 0.16); /* WB color.offBlack16*/

    --mafs-blue: #1865f2; /* WB color.blue */
    --mafs-red: #d92916; /* WB color.red */
    --mafs-green: #00a60e; /* WB color.green */
    --mafs-violet: #9059ff; /* WB color.purple */
    --mafs-yellow: #ffb100; /* WB color.gold */

    /* overridden on a per-point basis */
    --movable-point-color: var(--mafs-blue);
    --movable-point-center-radius: 6px;
    --movable-point-ring-radius: calc(2px + var(--movable-point-center-radius));
    --movable-point-halo-radius: calc(3px + var(--movable-point-ring-radius));
    --movable-point-hover-expansion: 2px;
    --movable-point-focus-ring-offset: 2px;

    --movable-line-stroke-color: var(--mafs-blue);
    --movable-line-stroke-weight: 2px;
    --movable-line-stroke-weight-active: 4px;
}

.MafsView > svg {
    /* Chrome/Safari bugfix for LEMS-1906 */
    display: block;
}

.MafsView .movable-line:hover,
.movable-dragging {
    --movable-line-stroke-weight: var(--movable-line-stroke-weight-active);
}

.MafsView .movable-line:focus,
.movable-polygon:focus {
    outline: none;
}

.MafsView
    .movable-line
    :is(.movable-line-focus-outline, .movable-line-focus-outline-gap) {
    stroke: transparent;
}

.MafsView .movable-line:focus-visible .movable-line-focus-outline {
    stroke: var(--mafs-blue);
    stroke-width: 10px;
}

.MafsView .movable-line:focus-visible .movable-line-focus-outline-gap {
    stroke: white;
    stroke-width: 6px;
}

.MafsView .movable-point {
    cursor: grab;
    touch-action: none;
    outline: none;
}

.MafsView .movable-point.movable-point--dragging {
    cursor: grabbing;
}

.MafsView .movable-point.movable-point--dragging .movable-point-halo {
    opacity: 0;
}

.MafsView .movable-point-hitbox {
    fill: transparent;
}

.MafsView
    :is(
        .movable-point-center,
        .movable-point-ring,
        .movable-point-halo,
        .movable-point-focus-outline
    ) {
    transition:
        r 0.15s ease-out,
        opacity 0.15s ease-out;
}

.MafsView .movable-point-center {
    r: var(--movable-point-center-radius);
}

.MafsView .movable-point-halo {
    r: var(--movable-point-halo-radius);
    fill: var(--movable-point-color);
    opacity: 0.25;
    filter: drop-shadow(0 5px 5px #0008);
}

.MafsView .movable-point-ring {
    r: var(--movable-point-ring-radius);
    fill: #fff;
}

.MafsView .movable-point:hover .movable-point-center {
    r: calc(
        var(--movable-point-hover-expansion) +
            var(--movable-point-center-radius)
    );
}

.MafsView .movable-point:hover .movable-point-ring {
    r: calc(
        var(--movable-point-hover-expansion) + var(--movable-point-ring-radius)
    );
}

.MafsView .movable-point:hover .movable-point-halo {
    r: calc(
        var(--movable-point-hover-expansion) + var(--movable-point-halo-radius)
    );
}

.MafsView .movable-point .movable-point-focus-outline {
    visibility: hidden;
    r: calc(
        var(--movable-point-halo-radius) +
            var(--movable-point-focus-ring-offset)
    );
    stroke-width: 2px;
    fill: none;
    stroke: var(--mafs-blue);
}

.MafsView .movable-point:hover .movable-point-focus-outline {
    r: calc(
        var(--movable-point-hover-expansion) + var(--movable-point-halo-radius) +
            var(--movable-point-focus-ring-offset)
    );
}

.MafsView
    .movable-point:is(:focus-visible, .movable-point--focus)
    .movable-point-focus-outline {
    visibility: visible;
}

@font-face {
    font-family: Mafs-MJXTEX;
    src: url("https://cdn.kastatic.org/fonts/mathjax/MathJax_Main-Regular.woff")
        format("woff");
}

/* Axis-related styling */

.MafsView .axis-ticks text {
    font-size: 14px;
    font-family: "Mafs-MJXTEX";
}

/* This is a gross method of referencing the axis lines within the graph,
        but there are no other identifying traits that we can use to target these lines
        since they are controlled by Mafs.
 */
.MafsView svg > g > g[stroke="var(--mafs-origin-color)"] > line {
    stroke-width: 2px; /* Make the axis line match the thickness of other lines) */
}