/**
 * Overrides of mafs styles-- we will want to move this into JS land
 * to take advantage of WB tokens, but I cannot get that to work at the moment
 */
.MafsView {
    --mafs-bg: transparent;
    --mafs-fg: rgb(33, 36, 44); /* WB color.offBlack */

    --mafs-line-color: rgb(33, 36, 44, 0.64); /* WB color.offBlack64 */
    --grid-line-subdivision-color: rgba(33, 36, 44, 0.16);

    --mafs-blue: #1865f2; /* WB color.blue */
    --mafs-red: #d92916; /* WB color.red */
    --mafs-green: #00a60e; /* WB color.green */
    --mafs-violet: #9059ff; /* WB color.purple */
    --mafs-yellow: #ffb100; /* WB color.gold */

    /* overridden on a per-point basis */
    --movable-point-color: var(--mafs-blue);
}

.MafsView .movable-segment {
    --mafs-segment-stroke-color: var(--mafs-line-color);
    --mafs-segment-stroke-weight: 2px;
}

.MafsView .movable-segment:is(:focus-visible, :hover) {
    outline: none;
    --mafs-segment-stroke-color: var(--mafs-blue);
    --mafs-segment-stroke-weight: 4px;
}

.MafsView .movable-segment:focus {
    outline: none;
}

.MafsView .movable-point-hitbox {
    fill: transparent;
}

.MafsView :is(.movable-point-center, .movable-point-ring, .movable-point-halo) {
    transition: r 0.2s ease;
}

.MafsView .movable-point-halo {
    fill: var(--movable-point-color);
    opacity: 0.25;
    filter: drop-shadow(0 5px 5px #0008);
}

.MafsView .movable-point-ring {
    fill: #fff;
}

.MafsView .movable-point:hover .movable-point-center {
    r: 8px;
}

.MafsView .movable-point:hover .movable-point-ring {
    r: 10px;
}

.MafsView .movable-point:hover .movable-point-halo {
    r: 13px;
}

.MafsView .movable-point:focus-visible .movable-point-halo {
    outline: 2px solid blue;
    border-radius: 99px;
}
