.above-backdrop {
    position: relative;
        /*
          HACK(emily): We want selected choices to show up above our
          exercise backdrop, but below the exercise footer and
          "feedback popover" that shows up. This z-index is carefully
          coordinated between here and khan/frontend. :(
          See: https://github.com/khan/frontend/blob/f46d475b7684287bfa57ed9a40e846754f1d0a4d/apps/khanacademy/src/exercises-components-package/style-constants.ts#L27-L28
        */
    z-index: 1062;
}

.above-backdrop-mobile {
    box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.2),0 0 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.above-backdrop-mobile:not(:last-child) {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0);
}

.field-set-content {
    list-style: none;
}

.instructions {
    display: block;
    color: var(--wb-semanticColor-text-primary);
    font-size: 1.4rem;
    line-height: 1.25;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.instructions-mobile {
    font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
    .instructions-mobile {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 1280px) {
    .instructions-mobile {
        font-size: 2rem;
    }
}

.item {
    margin-inline-start: 2rem;
}

.next-highlighted:not(:last-child) {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0);
}

.radio {
    padding: 0;
}

.radio-container-first-highlighted {
    border-top: 0.1rem solid rgba(0, 0, 0, 0);
}

.radio-container-last-highlighted {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0);
}

.responsive-container {
    overflow: auto;
    margin-inline-start: -1.6rem;
    padding-inline-start: 1.6rem;
}

.responsive-fieldset {
    padding-inline-end: 1.6rem;
    min-width: auto;
}

.responsive-item {
    margin-inline-start: 0;
    padding: 0;
}

.responsive-item:not(:last-child) {
    border-bottom: 0.1rem solid #BABEC2;
}

.responsive-radio-container {
    display: inline-block;
    min-width: max-content;
    width: 100%;
    border-bottom: 0.1rem solid #BABEC2;
    border-top: 0.1rem solid #BABEC2;
    scrollbar-width: thin;
}

@media screen and (max-width: 767px) {
    .responsive-radio-container {
        margin-inline-start: -1.6rem;
        margin-inline-end: -1.6rem;
    }
}

.selected-item {
    background: white;
}
