:global(.framework-perseus) {
    /* OVERRIDES
       These styles should be removed when either layering control within Perseus is available,
       or when the high-level styles are refactored and these become unnecessary.
     */
    .choice :global(.paragraph) {
        font-size: inherit;
        line-height: inherit;
        margin: initial;
    }
}

.choice {
    --perseus-multiple-choice-spacing: var(--wb-sizing-size_160);
    --perseus-multiple-choice-divider-color: var(--wb-semanticColor-core-border-neutral-subtle); /* This will change with hover & focus */
    --perseus-multiple-choice-divider-width: var(--wb-border-width-thin); /* This will change with hover & focus */
    --perseus-multiple-choice-divider-space: var(--wb-border-width-medium); /* Space between the choices, which is also used to position the divider */
    align-items: flex-start;
    display: flex;
    font-size: var(--wb-font-heading-size-medium);
    font-weight: var(--wb-font-weight-semi);
    /* "gap" is being used to put horizontal/inline space between the indicator and the content.
       That way, we can keep all spacing in this file, and not have to apply styling to the indicator itself.
    */
    gap: var(--perseus-multiple-choice-spacing);
    line-height: var(--wb-font-heading-lineHeight-medium);
    margin-block-start: var(--perseus-multiple-choice-divider-space);
    min-height: calc(var(--perseus-multiple-choice-spacing) * 4);
    padding: var(--perseus-multiple-choice-spacing);
    position: relative;
    width: 100%;
}

.choice:after,
.choice:first-of-type:before {
    background-color: var(--perseus-multiple-choice-divider-color);
    bottom: calc((var(--perseus-multiple-choice-divider-space) + ((var(--wb-border-width-medium) - var(--perseus-multiple-choice-divider-space)) / 2)) * -1);
    content: "";
    display: block;
    height: var(--perseus-multiple-choice-divider-width);
    margin-inline-start: calc(var(--perseus-multiple-choice-spacing) * -1); /* Account for the "gap" */
    position: absolute;
    width: calc(100% + var(--perseus-multiple-choice-spacing));
}

.choice:hover {
    cursor: pointer;
}

/*****************
 BORDER MANAGEMENT
 *****************/

/* Show a bottom border on the choice when:
      - the choice indicator has focus OR
      - the next choice indicator has focus OR
      - the choice is not in review mode AND
         - the choice is hovered OR
         - the next choice is hovered OR
   In other words, always show the bottom border when focus is on the indicator,
       but only show the bottom border for hover when not in review mode.
 */
.choice:not(.is-correct):focus-within,
.choice:has(+ .choice:not(.is-correct):focus-within),
.choice:not(.is-correct, .is-wrong):hover,
.choice:not(.is-correct, .is-wrong):has(+ .choice:hover) {
    --perseus-multiple-choice-divider-width: var(--wb-border-width-medium);
    --perseus-multiple-choice-divider-color: var(--wb-semanticColor-core-border-neutral-default);
}

.choice:has(+ .is-correct) {
    --perseus-multiple-choice-divider-width: 0;
}

.choice:first-of-type:not(.is-correct, .is-wrong):before {
    --perseus-multiple-choice-divider-color: var(--wb-semanticColor-core-border-neutral-subtle);
    bottom: initial;
    top: calc((var(--perseus-multiple-choice-divider-space) - ((var(--perseus-multiple-choice-divider-space) - var(--wb-border-width-thin)) / 2)) * -1);
}

.choice:first-of-type:focus-within:before,
.choice:first-of-type:hover:before {
    --perseus-multiple-choice-divider-color: var(--wb-semanticColor-core-border-neutral-default);
}

/* The last choice option needs additional space for the border */
.choice:last-of-type {
    margin-block-end: var(--wb-border-width-thin);
}

/***********
 REVIEW MODE
 ***********/

.is-correct {
    --perseus-multiple-choice-divider-width: 0;
    border-radius: var(--wb-border-radius-radius_080);
    color: var(--wb-semanticColor-core-foreground-success-strong);
    outline: var(--wb-border-width-medium) solid
        var(--wb-semanticColor-core-border-success-default);
    outline-offset: calc(var(--wb-border-width-medium) * -1);
}

.is-wrong {
    color: var(--wb-semanticColor-core-foreground-neutral-subtle);
}

.is-correct:hover,
.is-wrong:hover {
    cursor: default;
}

/*************************
 IMAGES ON THEIR OWN LINES
 *************************/

.choice :global(.paragraph) :global(+ .paragraph):has(img:only-child),
.choice :global(.paragraph):has(img:only-child):has(:global(+ .paragraph)) {
    display: block;
}