.base {
    min-width: var(--wb-c-button-root-sizing-height-small);
    padding-inline: 0;
}

.is-correct {
    background-color: var(--wb-semanticColor-core-background-success-default);
    color: var(--wb-semanticColor-action-primary-progressive-default-foreground);
}

.is-correct:before {
    content: '✓';
    display: inline-block;
}

.circle-shape{
    /* Extremely large border radii cause an overlap situation,
           resulting in a recalculation to the smallest radius that doesn't cause overlap,
           and applying the reduction proportionally across all radii.
       https://drafts.csswg.org/css-backgrounds/#corner-overlap
       Using this method of rounding the edges instead of specifying a pre-determined amount
           in order to make the measurement relative to the size of the button.
       In the case where the single-select indicator has multiple elements in its content (like a checkmark),
           the shape changes from a circle to a gel-capsule.
       This property setting automatically handles that case without the need for JS logic.
    */
    border-radius: 100vh;
}

.square-shape {
    border-radius: 0;
}