//
// Edit this file in the *perseus* repo!
//

// Steal from webapp/stylesheets/shared-package/variables.less
@baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;

&,  // and moar specificity...
#answer_area input[type=text],
#answer_area input[type=number] {
    &.perseus-input-size-normal,
    {
        width: 80px;
    }

    &.perseus-input-size-small {
        width: 40px;
    }
}

.perseus-widget-radio div,
.perseus-widget-radio div > p {
    /* TODO(alpert): Find a better way of doing inline renderers */
    display: inline;
}

#examples > div > ul {
    // React and Perseus.Renderer add an extra layer each to what qtip expects
    list-style-type: disc;
}

.perseus-widget-radio .perseus-textarea-pair,
.perseus-widget-radio .perseus-textarea-underlay {
    display: block;
}

.framework-perseus {
    table {
        font-size: 14px;  // to match <p>

        th, td {
            padding: 5px 10px;
            text-align: left;

            &[align=center] {
                text-align: center;
            }

            &[align=right] {
                text-align: right;
            }
        }

        th {
            border-bottom: 2px solid #ccc;
            font-weight: bold;
            padding-bottom: 2px;
        }

        tr:nth-child(odd) {
            // Doesn't work in IE8 :(
            td {
                background-color: #f3f3f3;
            }
        }
    }
}

//
// Interactive graph
//

.perseus-widget-interactive-graph {
    &, > .graphie {
        display: inline-block;
    }
}

//
// Expression
//

.perseus-widget-expression {
    &,
    > .output,
    > .output > .mathjax,
    > .output > .placeholder {
        display: block;
    }
}

.perseus-widget-expression > input,
#answer_area .perseus-widget-expression > input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-width: 240px;
    width: 100%;
}

.perseus-widget-expression > .output > .placeholder {
    position: relative;
    height: 40px;
    overflow-y: hidden;
}

.perseus-widget-expression > .output > .placeholder  > .error {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color: #000;
    display: none;
    font-weight: normal;
    min-height: 24px;
    width: 175px;
    position: absolute;
    top: 0px;
    left: 45px;
    margin: auto;
}

.perseus-widget-expression > .output > .placeholder > .error > .buddy {
    background-image: url(images/error-buddy.png);
    background-size: 100%;
    height: 36px;
    width: 40px;
    position: absolute;
    top: -3px;
    left: -46px;
}

.perseus-widget-expression > .output > .placeholder > .error > .message {
    font: 12px @baseFontFamily;
    line-height: 1.4em;
    margin: 5px 8px;
}

//
// Table of values
//

// Extra specifity is needed to counteract generic tables
.framework-perseus table.perseus-widget-table-of-values {
    text-align: left;
    margin: 20px auto 0;
    border-collapse: collapse;

    tr {
        height: 23px;
    }
    tr:nth-child(odd) {
        td {
            background-color: white;
        }
    }

    th, td {
        border: 2px solid black;
        border-width: 0 2px;

        &:first-child {
            border-left: 0;
        }

        &:last-child {
            border-right: 0;
        }
    }

    th {
        font-weight: normal;
        padding: 0;
        padding-left: 10px;
        text-align: left;
        border-bottom: 2px solid black;
        input {
            margin-left: -5px;
        }
        .perseus-single-editor {
            width: 66px;
            margin-left: -5px;
            margin-bottom: 6px;
        }
        .perseus-textarea-pair {
            height: 26px;
        }
        p {
            margin: 0;
        }
    }

    td {
        padding: 0px 5px;
        text-align: right;
    }

    tbody tr:first-child td {
        padding-top: 5px;
    }

    input {
        width: 60px;
    }
}

