// Steal from webapp/stylesheets/shared-package/variables.less
@baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@clueColor:             #007AFF;
@blue:                  #1c758a;
@gray:                  #aaa;
@red:                   #ffbaba;
@questionWidth:         480px;

// SAT variables
@satBlue:				#0084ce;

// Layer variables
@zIndexScratchPad: 1;
@zIndexAboveScratchpad: @zIndexScratchPad + 1;
@zIndexInteractiveComponent: @zIndexAboveScratchpad + 1;
@zIndexCurrentlyDragging: @zIndexInteractiveComponent + 1;
@zIndexCalculator: @zIndexCurrentlyDragging + 1;
