# Khan/perseus is tagged for all PRs
@Khan/perseus

# AI Utils are owned by Tutor Platform
widget-ai-utils/* @Khan/tut

# For new radio widget project
**/widgets/radio/** @ivyolamit @mark-fitzgerald @SonicScrewdriver @anakaren-rojas

# For image widget project
**/widgets/image/** @nishasy @ivyolamit @catandthemachines
