node_modules
coverage
coverage-ts
docs
storybook-static

packages/**/build
**/dist
**/*.template
**/package.json
**/*.md
vendor
LICENSE
**/__genfiles__
cypress/

**/*.json
**/*.jpg
**/*.png
**/*.svg
**/*.sh
