node_modules
coverage
coverage-ts
storybook-static

packages/**/build
**/dist
**/*.template
**/package.json
**/*.md
vendor
LICENSE
**/__genfiles__
cypress/

**/*.json
**/*.jpg
**/*.png
**/*.svg

**/types/*.d.ts
**/*.test.ts
**/*.test.tsx
**/wallaby.js
packages/pure-markdown/.eslintrc.js
packages/simple-markdown/.eslintrc.js
utils/shared/add-library-version-to-perseus-debug.ts
**/*.cypress.ts
**/*.cypress.tsx