[submodule "react-components"]
	path = react-components
	url = https://github.com/Khan/react-components.git
[submodule "kmath"]
	path = kmath
	url = https://github.com/Khan/kmath.git
[submodule "simple-markdown"]
	path = simple-markdown
	url = https://github.com/Khan/simple-markdown.git
[submodule "hubble"]
	path = hubble
	url = https://github.com/joelburget/hubble.git
[submodule "lib/mathjax"]
	path = lib/mathjax
	url = https://github.com/Khan/khan-MathJax.git
[submodule "math-input"]
	path = math-input
	url = https://github.com:Khan/math-input.git
