[submodule "ke"]
	path = ke
	url = https://github.com/Khan/khan-exercises.git
[submodule "react-components"]
	path = react-components
	url = https://github.com/Khan/react-components.git
[submodule "kmath"]
	path = kmath
	url = https://github.com/Khan/kmath.git
[submodule "simple-markdown"]
	path = simple-markdown
	url = https://github.com/Khan/simple-markdown.git
[submodule "hubble"]
	path = hubble
	url = https://github.com/joelburget/hubble.git
