/* TODO(LEMS-3686): Remove the !important once Wonder Blocks is in the shared layer. */
.container {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: var(--wb-sizing-size_160) !important;
}

.label {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: var(--wb-sizing-size_060) !important;
}
