/* TODO(LEMS-3686): Remove the !important once Wonder Blocks is in the shared layer. */
.container {
    display: flex !important;
    flex-direction: column !important;
    gap: var(--wb-sizing-size_060) !important;
    padding-top: var(--wb-sizing-size_080) !important;
}

.row {
    flex-direction: row !important;
    align-items: center !important;
}

.button {
    align-self: start !important;
    margin-top: calc(-1 * var(--wb-sizing-size_060)) !important;
}

.caption {
    color: var(--wb-semanticColor-core-foreground-neutral-subtle) !important;
}
