/* TODO: This is a temporary base font & color setting to override the <p> styling from frontend.
   This rule should be removed as part of the styling refactoring.  */
.framework-perseus.perseus-article:not(.perseus-mobile)
.perseus-renderer.renderer-new-ff
p {
    color: var(--wb-semanticColor-core-foreground-neutral-strong);
    font-size: 20px;
    line-height: 30px;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
.perseus-renderer.renderer-new-ff
> * {
    margin-inline: auto;
    max-width: 688px;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer.renderer-new-ff
    > p {
    color: var(--wb-semanticColor-core-foreground-neutral-strong);
    font-size: 20px;
    line-height: 30px;
    margin-block: 0 var(--wb-sizing-size_320);
}
/* Reset the Renderer margins for the image widget.
    The image widget title and caption shouldn't have margins,
    so we need to override the above styles. */
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-image-widget
    .perseus-renderer.renderer-new-ff
    p {
    margin-block-end: 0;
}
/* TODO: UL tags should inherit color and fonts - remove */
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer.renderer-new-ff
    > ul:not([data-widget="radio"]) {
    color: var(--wb-semanticColor-core-foreground-neutral-strong);
    font-size: 20px;
    line-height: 30px;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-image-caption
    .perseus-renderer.renderer-new-ff
    p,
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-image-caption
    .perseus-renderer.renderer-new-ff
    ol,
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-image-caption
    .perseus-renderer.renderer-new-ff
    ul {
    color: var(--wb-semanticColor-core-foreground-neutral-subtle);
    font-size: var(--wb-font-body-size-small);
    line-height: var(--wb-font-body-lineHeight-small);
    text-align: left;
}
/* TODO: Verify that full-width is working as expected, once image styling is fixed */
.framework-perseus.perseus-article:not(.perseus-mobile)
    .renderer-new-ff .widget-full-width {
    margin-bottom: var(--wb-sizing-size_320);
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .renderer-new-ff .widget-full-width
    p {
    margin: 0;
    max-width: none;
}
/*************
    Mobile
**************/
.framework-perseus.perseus-mobile .renderer-new-ff:not(blockquote) > p,
.framework-perseus.perseus-mobile .renderer-new-ff :not(blockquote) > p {
    margin: 0;
}
.framework-perseus.perseus-mobile .perseus-renderer.renderer-new-ff > p {
    margin: 0 auto;
}
.framework-perseus.perseus-mobile
    .perseus-renderer.renderer-new-ff
    > p:not(:first-child) {
    margin-top: var(--wb-sizing-size_240);
    margin-bottom: var(--wb-sizing-size_240);
}
.framework-perseus.perseus-mobile
    .perseus-renderer.renderer-new-ff
    > ul:not([data-widget="radio"], .indicatorContainer) {
    margin: 0 0 0 1em;
    padding: 0;
}
.framework-perseus.perseus-mobile
    .perseus-renderer.renderer-new-ff
    > ul:not([data-widget="radio"], .indicatorContainer)
    > li {
    padding-left: var(--wb-sizing-size_100);
    margin-bottom: var(--wb-sizing-size_240);
}
.framework-perseus.perseus-mobile .perseus-renderer.renderer-new-ff ol {
    margin: 0;
    padding-left: var(--wb-sizing-size_320);
}
.framework-perseus.perseus-mobile .perseus-renderer.renderer-new-ff ol > li {
    list-style-type: decimal;
    margin-bottom: var(--wb-sizing-size_240);
}
.framework-perseus.perseus-mobile .perseus-renderer.renderer-new-ff ol ol,
.framework-perseus.perseus-mobile
    .perseus-renderer.renderer-new-ff
    ul:not([data-widget="radio"])
    ol,
.framework-perseus.perseus-mobile
    .perseus-renderer.renderer-new-ff
    ol
    ul:not([data-widget="radio"]),
.framework-perseus.perseus-mobile
    .perseus-renderer.renderer-new-ff
    ul:not([data-widget="radio"])
    ul:not([data-widget="radio"]) {
    padding-top: var(--wb-sizing-size_240);
}
@media (max-width: 767px) {
    .framework-perseus.perseus-mobile .perseus-renderer.renderer-new-ff > * {
        max-width: none;
    }
    .framework-perseus.perseus-mobile .perseus-renderer.renderer-new-ff > * {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.4;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile
        .renderer-new-ff .perseus-image-caption
        p {
        color: var(--wb-semanticColor-core-foreground-neutral-subtle);
        font-size: 14px;
        line-height: 1.3;
        text-align: left;
    }
}
@media (min-width: 767px) and (max-width: 1199px) {
    .framework-perseus.perseus-mobile .perseus-renderer.renderer-new-ff > * {
        max-width: 512px;
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        ul:not([data-widget="radio"]) {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph ol {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile
        .perseus-image-caption
        .paragraph
        .paragraph {
        color: var(--wb-semanticColor-core-foreground-neutral-subtle);
        font-size: 17px;
        line-height: 1.4;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .framework-perseus.perseus-mobile .perseus-renderer.renderer-new-ff > * {
        max-width: 688px;
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        ul:not([data-widget="radio"]) {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph ol {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: var(--wb-semanticColor-core-foreground-neutral-default);
    }
    .framework-perseus.perseus-mobile
        .perseus-image-caption
        .paragraph
        .paragraph {
        color: var(--wb-semanticColor-core-foreground-neutral-subtle);
        font-size: 20px;
        line-height: 1.4;
        text-align: left;
    }
}
.framework-perseus.perseus-mobile .paragraph.perseus-paragraph-full-width {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}
.framework-perseus.perseus-mobile
    .paragraph.perseus-paragraph-full-width
    > .paragraph {
    margin: 0;
    max-width: none;
}
