.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer
    > .paragraph {
    color: #21242c;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto;
    max-width: 688px;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer
    > .paragraph
    .paragraph {
    color: #21242c;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
    margin-top: 0;
}
/* Reset the Renderer margins for the image widget.
    The image widget title and caption shouldn't have margins,
    so we need to override the above styles. */
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-image-widget
    .perseus-renderer
    .paragraph {
    margin-bottom: 0;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer
    > .paragraph
    mjx-container {
    font-size: 100%;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer
    > .paragraph
    ul:not([data-widget="radio"]) {
    color: #21242c;
    font-size: 20px;
    line-height: 30px;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-image-caption
    .perseus-renderer
    .paragraph
    .paragraph,
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-image-caption
    .perseus-renderer
    .paragraph
    ol,
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-image-caption
    .perseus-renderer
    .paragraph
    ul {
    color: rgba(33, 36, 44, 0.64);
    font-size: 14px;
    line-height: 19px;
    text-align: left;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .paragraph.perseus-paragraph-full-width {
    margin-bottom: 32px;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .paragraph.perseus-paragraph-full-width
    > .paragraph {
    margin: 0;
    max-width: none;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer
    > .paragraph
    .perseus-formats-tooltip {
    padding: 8px 12px;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer
    > .paragraph
    .perseus-formats-tooltip
    .paragraph {
    margin-bottom: 0;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-renderer
    > .paragraph
    .perseus-formats-tooltip
    .paragraph
    ul:not([data-widget="radio"]) {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}
.framework-perseus:not(.perseus-article):not(.perseus-mobile)
    .perseus-radio-option-content
    .perseus-renderer
    > .paragraph {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.25;
    color: #21242c;
}
.framework-perseus:not(.perseus-article):not(.perseus-mobile)
    .perseus-radio-option-content
    .perseus-renderer
    > .paragraph
    .paragraph {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.25;
    color: #21242c;
}
.framework-perseus:not(.perseus-article):not(.perseus-mobile)
    .perseus-radio-rationale-content
    .perseus-renderer
    > .paragraph {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.25;
    color: #21242c;
}
.framework-perseus:not(.perseus-article):not(.perseus-mobile)
    .perseus-radio-rationale-content
    .perseus-renderer
    > .paragraph
    .paragraph {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.25;
    color: #21242c;
}
.framework-perseus:not(.perseus-article):not(.perseus-mobile)
    .perseus-radio-rationale-content
    .perseus-renderer
    > .paragraph
    .paragraph
    mjx-container {
    color: #21242c;
}
.framework-perseus.perseus-mobile
    .perseus-article
    .perseus-renderer
    > .paragraph {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
.framework-perseus.perseus-mobile
    .perseus-article
    .paragraph.perseus-paragraph-full-width {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}
.framework-perseus.perseus-mobile
    .perseus-article
    .paragraph.perseus-paragraph-full-width
    > .paragraph {
    margin: 0;
    max-width: none;
}
.framework-perseus.perseus-mobile :not(blockquote) > div.paragraph {
    margin: 0;
}
.framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
    margin: 0 auto;
}
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph:not(:first-child) {
    margin-top: var(--wb-sizing-size_240);
    margin-bottom: var(--wb-sizing-size_240);
}
.framework-perseus.perseus-mobile .perseus-renderer > .paragraph > .paragraph {
    margin: 0;
}
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph
    ul:not([data-widget="radio"], .indicatorContainer) {
    margin: 0 0 0 1em;
    padding: 0;
}
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph
    ul:not([data-widget="radio"], .indicatorContainer)
    > li {
    padding-left: 10px;
    margin-bottom: 24px;
}
.framework-perseus.perseus-mobile .perseus-renderer > .paragraph ol {
    margin: 0;
    padding-left: 32px;
}
.framework-perseus.perseus-mobile .perseus-renderer > .paragraph ol > li {
    list-style-type: decimal;
    margin-bottom: 24px;
}
.framework-perseus.perseus-mobile .perseus-renderer > .paragraph ol ol,
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph
    ul:not([data-widget="radio"])
    ol,
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph
    ol
    ul:not([data-widget="radio"]),
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph
    ul:not([data-widget="radio"])
    ul:not([data-widget="radio"]) {
    padding-top: 24px;
}
@media (max-width: 767px) {
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
        max-width: none;
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        ul:not([data-widget="radio"]) {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph ol {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-option-content
        .perseus-renderer
        > .paragraph {
        font-family: inherit;
        font-size: 16px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-option-content
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 16px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph {
        font-family: inherit;
        font-size: 16px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 16px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph
        .paragraph
        mjx-container {
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-image-caption
        .paragraph
        .paragraph {
        color: #888d93;
        font-size: 14px;
        line-height: 1.3;
        text-align: left;
    }
}
@media (min-width: 767px) and (max-width: 1199px) {
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
        max-width: 512px;
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        ul:not([data-widget="radio"]) {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: #626569;
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph ol {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-option-content
        .perseus-renderer
        > .paragraph {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-option-content
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph
        .paragraph
        mjx-container {
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-image-caption
        .paragraph
        .paragraph {
        color: #888d93;
        font-size: 17px;
        line-height: 1.4;
        text-align: left;
    }
}
@media (min-width: 1200px) {
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
        max-width: 688px;
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-renderer
        > .paragraph
        ul:not([data-widget="radio"]) {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile .perseus-renderer > .paragraph ol {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-option-content
        .perseus-renderer
        > .paragraph {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-option-content
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph
        .paragraph {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.25;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-radio-rationale-content
        .perseus-renderer
        > .paragraph
        .paragraph
        mjx-container {
        color: #21242c;
    }
    .framework-perseus.perseus-mobile
        .perseus-image-caption
        .paragraph
        .paragraph {
        color: #888d93;
        font-size: 20px;
        line-height: 1.4;
        text-align: left;
    }
}
.framework-perseus.perseus-mobile .paragraph.perseus-paragraph-full-width {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
}
.framework-perseus.perseus-mobile
    .paragraph.perseus-paragraph-full-width
    > .paragraph {
    margin: 0;
    max-width: none;
}
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph
    .perseus-formats-tooltip {
    padding: 8px 12px;
}
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph
    .perseus-formats-tooltip
    .paragraph {
    margin-bottom: 0;
}
.framework-perseus.perseus-mobile
    .perseus-renderer
    > .paragraph
    .perseus-formats-tooltip
    .paragraph
    ul:not([data-widget="radio"]) {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}
