.framework-perseus code {
    font-family: Courier, monospace;
}
.framework-perseus pre {
    background-color: #f0f1f2;
    border-radius: 4px;
    color: #21242c;
    font-size: 18px;
    padding: 16px;
    white-space: pre;
    overflow: auto;
}
.framework-perseus.perseus-article:not(.perseus-mobile) table {
    color: #21242c;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
}
.framework-perseus.perseus-article:not(.perseus-mobile) h2 {
    font-family: inherit;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 16px;
    margin-top: 48px;
}
.framework-perseus.perseus-article:not(.perseus-mobile) h3 {
    font-family: inherit;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 16px;
    margin-top: 32px;
}
.framework-perseus.perseus-article:not(.perseus-mobile) h4,
.framework-perseus.perseus-article:not(.perseus-mobile) h5,
.framework-perseus.perseus-article:not(.perseus-mobile) h6 {
    font-family: inherit;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 16px;
    margin-top: 32px;
}
.framework-perseus.perseus-article:not(.perseus-mobile) blockquote {
    padding: 0 32px;
}
.framework-perseus.perseus-article:not(.perseus-mobile) .MathJax .math {
    color: inherit;
}
.framework-perseus.perseus-article:not(.perseus-mobile) .unresponsive-svg-image,
.framework-perseus.perseus-article:not(.perseus-mobile) .svg-image {
    font-size: 14px;
    line-height: 19.6px;
}
.framework-perseus.perseus-article:not(.perseus-mobile) .perseus-block-math {
    margin-bottom: 32px;
    position: relative;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-block-math:before {
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    .perseus-block-math-inner {
    overflow-x: auto;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-top: 8px;
}
.framework-perseus.perseus-article:not(.perseus-mobile)
    > .clearfix:first-child
    > .perseus-renderer:first-child
    > .paragraph:first-child
    h1:first-child,
.framework-perseus.perseus-article:not(.perseus-mobile)
    > .clearfix:first-child
    > .perseus-renderer:first-child
    > .paragraph:first-child
    h2:first-child,
.framework-perseus.perseus-article:not(.perseus-mobile)
    > .clearfix:first-child
    > .perseus-renderer:first-child
    > .paragraph:first-child
    h3:first-child,
.framework-perseus.perseus-article:not(.perseus-mobile)
    > .clearfix:first-child
    > .perseus-renderer:first-child
    > .paragraph:first-child
    h4:first-child,
.framework-perseus.perseus-article:not(.perseus-mobile)
    > .clearfix:first-child
    > .perseus-renderer:first-child
    > .paragraph:first-child
    h5:first-child,
.framework-perseus.perseus-article:not(.perseus-mobile)
    > .clearfix:first-child
    > .perseus-renderer:first-child
    > .paragraph:first-child
    h6:first-child {
    margin-top: 0;
}
.framework-perseus.perseus-article:not(.perseus-mobile) pre {
    margin: 0 -16px 32px -16px;
}
.framework-perseus.perseus-mobile .clearfix > .perseus-renderer {
    margin-bottom: 32px;
}
.framework-perseus.perseus-mobile .perseus-block-math {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
@media (max-width: 767px) {
    .framework-perseus.perseus-mobile h1 {
        font-weight: 700;
        padding-top: 0px;
        font-family: inherit;
        font-size: 24px;
        line-height: 1.2;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile h2 {
        font-weight: 700;
        padding-top: 16px;
        font-family: inherit;
        font-size: 24px;
        line-height: 1.2;
        color: #3b3e40;
    }
    .framework-perseus.perseus-mobile h3,
    .framework-perseus.perseus-mobile h4 {
        font-weight: 700;
        padding-top: 0px;
        font-family: inherit;
        font-size: 22px;
        line-height: 1.1;
        color: #626569;
    }
    .framework-perseus.perseus-mobile .default-body-text {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile blockquote {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.4;
        color: #626569;
        color: #888d93;
    }
    .framework-perseus.perseus-mobile table {
        font-family: inherit;
        font-size: 18px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile mjx-container:not(.mafs-graph *) {
        font-size: 21px;
        line-height: 1.2;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile .perseus-block-math mjx-container {
        font-size: 21px;
        line-height: 1.5;
    }
    .framework-perseus.perseus-mobile .graphie-label mjx-container {
        font-size: 1.21em;
        line-height: 1.2;
    }
    .framework-perseus.perseus-mobile code {
        font-family: Courier, monospace;
    }
    .framework-perseus.perseus-mobile pre {
        background-color: #f0f1f2;
        border-radius: 4px;
        color: #21242c;
        font-size: 18px;
        line-height: 1.6;
        padding: 16px;
        white-space: pre;
        overflow: auto;
    }
    .framework-perseus.perseus-mobile blockquote {
        padding: 0 0 0 18px;
        border-left: 4px solid #d8d8d8;
    }
}
@media (min-width: 767px) and (max-width: 1199px) {
    .framework-perseus.perseus-mobile h1 {
        font-weight: 700;
        padding-top: 0px;
        font-family: inherit;
        font-size: 30px;
        line-height: 1.1;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile h2 {
        font-weight: 700;
        padding-top: 32px;
        font-family: inherit;
        font-size: 30px;
        line-height: 1.1;
        color: #3b3e40;
    }
    .framework-perseus.perseus-mobile h3,
    .framework-perseus.perseus-mobile h4 {
        font-weight: 700;
        padding-top: 16px;
        font-family: inherit;
        font-size: 28px;
        line-height: 1.1;
        color: #626569;
    }
    .framework-perseus.perseus-mobile .default-body-text {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: #626569;
    }
    .framework-perseus.perseus-mobile blockquote {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: #626569;
        color: #888d93;
    }
    .framework-perseus.perseus-mobile table {
        font-family: inherit;
        font-size: 20px;
        line-height: 1.5;
        color: #626569;
    }
    .framework-perseus.perseus-mobile mjx-container:not(.mafs-graph *) {
        font-size: 23px;
        line-height: 1.3;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile .perseus-block-math mjx-container {
        font-size: 30px;
        line-height: 1.3;
    }
    .framework-perseus.perseus-mobile .graphie-label mjx-container {
        font-size: 1.21em;
        line-height: 1.2;
    }
    .framework-perseus.perseus-mobile code {
        font-family: Courier, monospace;
    }
    .framework-perseus.perseus-mobile pre {
        background-color: #f0f1f2;
        border-radius: 4px;
        color: #21242c;
        font-size: 18px;
        line-height: 1.6;
        padding: 16px;
        white-space: pre;
        overflow: auto;
    }
    .framework-perseus.perseus-mobile blockquote {
        padding: 0 0 0 20px;
        border-left: 4px solid #d8d8d8;
    }
}
@media (min-width: 1200px) {
    .framework-perseus.perseus-mobile h1 {
        font-weight: 700;
        padding-top: 0px;
        font-family: inherit;
        font-size: 35px;
        line-height: 1.1;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile h2 {
        font-weight: 700;
        padding-top: 32px;
        font-family: inherit;
        font-size: 35px;
        line-height: 1.1;
        color: #3b3e40;
    }
    .framework-perseus.perseus-mobile h3,
    .framework-perseus.perseus-mobile h4 {
        font-weight: 700;
        padding-top: 16px;
        font-family: inherit;
        font-size: 30px;
        line-height: 1.1;
        color: #626569;
    }
    .framework-perseus.perseus-mobile .default-body-text {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile blockquote {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: #626569;
        color: #888d93;
    }
    .framework-perseus.perseus-mobile table {
        font-family: inherit;
        font-size: 22px;
        line-height: 1.4;
        color: #626569;
    }
    .framework-perseus.perseus-mobile mjx-container:not(.mafs-graph *) {
        font-size: 25px;
        line-height: 1.2;
        color: #21242c;
    }
    .framework-perseus.perseus-mobile .perseus-block-math mjx-container {
        font-size: 30px;
        line-height: 1.3;
    }
    .framework-perseus.perseus-mobile .graphie-label mjx-container {
        font-size: 1.21em;
        line-height: 1.2;
    }
    .framework-perseus.perseus-mobile code {
        font-family: Courier, monospace;
    }
    .framework-perseus.perseus-mobile pre {
        background-color: #f0f1f2;
        border-radius: 4px;
        color: #21242c;
        font-size: 18px;
        line-height: 1.6;
        padding: 16px;
        white-space: pre;
        overflow: auto;
    }
    .framework-perseus.perseus-mobile blockquote {
        padding: 0 0 0 20px;
        border-left: 5px solid #d8d8d8;
    }
}
.framework-perseus.perseus-mobile .MathJax .math {
    color: inherit;
}
.framework-perseus.perseus-mobile .perseus-image-widget {
    text-align: center;
}
.framework-perseus.perseus-mobile .perseus-block-math {
    padding-top: 16px;
    padding-bottom: 16px;
}
.framework-perseus.perseus-mobile .unresponsive-svg-image,
.framework-perseus.perseus-mobile .svg-image {
    font-size: 14px;
    line-height: 19.6px;
}
