/* Derived from the MIT-licensed zoom.js:
   https://github.com/fat/zoom.js/blob/fd4f3e43153da7596da0bade198e99f98b47791e/
*/
.zoomable {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.zoom-img {
  background-color: white;
  position: absolute;
  z-index: 9001;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-transition {
  transition: transform 300ms ease;
}
.zoom-overlay {
  z-index: 9000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}
.zoom-overlay-open {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}
.zoom-backdrop {
  z-index: 8999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: 0;
  transition: opacity 300ms;
}
.zoom-overlay-open > .zoom-backdrop {
  opacity: 0.9;
}
