.content-wrapper {
    /* Undo the ModalContent padding so that the image takes up the whole modal. */
    margin-block: calc(-1 * var(--wb-c-modal-panel-layout-gap-default));
    margin-inline: calc(-1 * var(--wb-c-modal-panel-layout-gap-default));
    /* Remove inline spacing that creates a 1px gap below images */
    line-height: 0;
    /* Add relative position so that the close button child can be absolutely positioned. */
    position: relative;
}

.image-container {
    /* Don't let large images overflow out of the viewport. */
    max-width: calc(100vw - var(--wb-sizing-size_640));
}

/* This `overflow: hidden` is for cases in which there is a Graphie
   label toward the bottom of a Graphie image, and this label has padding
   that overflows past the specified image bounds, causing an
   unnecessary scrollbar to appear in the modal.
*/
.image-container :global(.svg-image) {
    overflow: hidden;
}

@media (max-width: 767px) {
    .content-wrapper {
        /* Smaller screens have a smaller inline gap */
        margin-inline: calc(-1 * var(--wb-c-modal-panel-layout-gap-small));
        /* On mobile, allow the image to fill the entire viewport */
        max-width: 100vw;
        max-height: 100vh;
    }

    .image-container {
        /* On mobile, dialog margin is 0 so the full viewport is available. */
        max-width: 100vw;
    }
}
