
.perseus-editor-preview-panel {
    background-color: rgb(247, 247, 247);
}

//
// General editor styles
//

.perseus-single-editor {
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 360px;
}

.perseus-textarea-pair {
    border: 1px solid #999;
    font-size: 14px;
    line-height: 1.6;
    position: relative;
}

.perseus-textarea-pair > .perseus-textarea-underlay {
    color: transparent;
    margin-bottom: 12px;
    padding: 2px;
    white-space: pre-wrap;
}

.perseus-textarea-pair > .perseus-textarea-underlay b {
    font-weight: normal;
    background-color: #dfd;
}

.perseus-textarea-pair > .perseus-textarea-underlay b.selected {
    background-color: #ddf;
}

.perseus-textarea-pair > .perseus-textarea-underlay b.error {
    background-color: #fcc;
}

.perseus-textarea-pair > textarea {
    background: transparent;
    border: 0;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font: inherit;
    height: 100%;
    left: 0;
    padding: 2px;
    position: absolute;
    resize: none;
    top: 0;
    width: 100%;

    /* for Firefox, this helps. it seems that the underlay is still 1px off and
    I'm not really sure why. not too noticeable if we're just setting the
    background color though. */
    margin: 0;
}

.perseus-editor-widgets > div {
    border: 1px solid #999;
    border-top: none;
    padding: 3px;
}

.perseus-editor-widgets > div.selected > strong {
    background-color: #ddf;
}

.MathJax .math {
    // override athena silliness
    color: inherit;
}

.ai-live-qtip {
    max-width: 360px;
    min-width: 360px;
    width: 360px;
}

#perseus {
    margin: 20px;
    width: 1120px;

    #answer_area_wrap {
        box-sizing: border-box;
        float: right;
        padding: 16px;
        width: 192px;
    }

    #solutionarea {
        border: 0;
    }

    #problemarea {
        width: 530px;
        float: left;
    }

    #workarea {
        margin-left: 30px;
        outline: 1px solid #ccc;
    }

    #hintsarea {
        margin-left: 50px;
        outline: 1px solid #ccc;
    }

    .remove-hint-container {
        text-align: right;
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .add-choice-container,
    .add-hint-container {
        text-align: left;
        margin-bottom: 20px;
    }
}

.perseus-editor-preview-panel {
    box-sizing: border-box;
    float: right;
    width: 760px;
}


.perseus-item-editor {
    float: left;
    width: 360px;
    margin: 0 0 24px 0;
}


#perseus-content:before {
    content: "Preview:";
    font-size: 12pt;
}

.perseus-question-editor:before {
    content: "Question:";
    font-size: 12pt;
}

.perseus-answer-editor label {
    display: block;
}

.perseus-answer-editor:before {
    content: "Answer:";
    font-size: 12pt;
}

.perseus-answer-editor:after {
    // There may be zero .perseus-hint-editors being rendered, so anchor
    // this heading to something we know will exist.
    content: "Hints:";
    font-size: 12pt;
}

//
// Radio editor
//

.perseus-widget-radio .choice-editor {
    display: inline-block;
}

.perseus-widget-radio .delete-choice {
    padding: 5px;
    margin-left: 5px;
}

.perseus-widget-radio .perseus-single-editor {
    border: 0;
    display: inline-block;
    margin: 0 0 5px;
    vertical-align: top;
    width: 250px;
}

.perseus-widget-radio .perseus-single-editor p {
    margin: 0;
}

.perseus-widget-radio {
    input[type=radio] + div {
        padding-left: 8px;
    }
    input[type=radio]:checked + div > textarea {
        background: #80ff80;
    }
    input[type=radio]:not(:checked) + div > textarea {
        background: #ff8080;
    }
}

.perseus-widget-orderer {
    input[type=text] {
        float: left;
        padding: 3px;
        margin-right: 5px;
        min-width: 20px;
    }
}

//
// Table of values editor
//

.framework-perseus table.perseus-widget-table-of-values {
    th {
        .perseus-single-editor {
            width: 80px;
            margin-bottom: 6px;
        }
        .perseus-textarea-pair,
        .perseus-single-editor {
            height: 50px;
        }
    }
}

//
// Categorization Editor
//

.categorization-container-editor {
    @categoryWidth: 160px;
    width: 350px;
    margin-bottom: 160px;

    .card input {
        margin: 7px 3px 7px 13px;
        font-size: 12px;
        display: block;
        width: 81%;
    }


    .category {
        float: left;
        padding: 5px;
        width: @categoryWidth;
    }
    .categories {
        width: (@categoryWidth + 16px);
    }

    .perseus-textarea-underlay {
        margin-bottom: 0;
    }

    .drag-bar {
        float: left;
        font-size: 10px;
        padding: 2px 0;
        height: 70%;
        margin-top: 3px;
    }
    .header {
        margin-bottom: 8px;
        input {
            display: block;
            margin-right: 24px;
            width: 76%;
        }
        .remove {
            position: relative;
            top: -14px;
            left: 12px;
            float: right;
            width: 20px;
            height: 20px;
            padding: 2px;
            color: #666;
            &:hover {
                color: #333;
            }
            cursor: pointer;
        }
    }
    .delete-item-area {
        position: absolute;
        width: 150px;
        height: 60px;
        padding-top: 40px;
        bottom: -150px;
        left: 10px;
        border: dashed 2px #888;
        color: #888;
        &.target {
            border-color: black;
            color: #333;
        }
        text-align: center;
        font-size: 20px;
    }
    .card {
        width: (@categoryWidth - 30px);
        padding: 0;
        &.dragging .drag-bar {
            margin-left: 2px;
        }
    }
}

.categorization-editor-area {
    height: 30px;

    .add-item {
        float: left;
        margin-left: 17px;
    }

    .add-category {
        margin-left: 173px;
    }
}



// Graph Editor

.perseus-widget-interactive-graph {
    display: block;

    .graph-settings {
        input[type=text] {
            width: 50px;
            &.graph-settings-background-url {
                width: 250px;
            }
        }
    }
}
