.perseus-widget-explanation {
    display: inline;

    .perseus-widget-explanation-link {
        font-size: 12px;
        font-style: italic;
        z-index: @zIndexInteractiveComponent;

        &:before {
            content: "["
        }
        &:after {
            content: "]"
        }
    }

    @marginLeft: -23px;
    @borderLeft: 5px;
    // The content of the explanation should line up with the other
    // paragraphs, so we'll do a little algebra to make it happen.
    @paddingLeft: -@marginLeft - @borderLeft;

    // TODO(jordan): Shared?
    @borderColor: #ccc;

    .perseus-widget-explanation-content {
        margin-left: @marginLeft;
        position: relative;
        transition: all 0.1s;

        > .perseus-renderer {
            border-left: @borderLeft solid @borderColor;
            margin-top: 22px;
            margin-bottom: 22px;
            padding-left: @paddingLeft;
        }
    }
}
