.perseus-widget-interactive-graph {
    padding: 25px 25px 0 0;

    div.instructions {
        margin-bottom: 0px;
        margin-top: -22px
    }
}

.graphie-container {
    position: relative;

    img {
        position: absolute;
    }
}
