@import "../util.less";

.perseus-widget-radio {
    div,
    div > p {
        /* TODO(alpert): Find a better way of doing inline renderers */
        display: inline;
    }

    .svg-image div {
        // The divs in an svg image shouldn't be inline
        display: block;
    }

    li {
        div.instructions {
            margin-bottom: 5px;
        }

        .value {
            display: block;
            margin-left: 18px;
            min-height: 22px;
        }

        img, table {
            display: inline-block;
            vertical-align: middle;
        }

        table {
            border: 1px solid #ccc;
        }
    }
}
