/*
  Special styling is needed to fit the button in a block of text without throwing off the line spacing.
  While the button is not normally included in a block of text, it needs to be able to accommodate such a case.
*/
.button-style-overrides {
    height: auto;
    line-height: inherit;
    margin-left: -0.2rem; /* transfer space on the left side to the padding */
    margin-right: 0.2rem; /* adds space between the right border and any text that follows */
    padding-left: 0.2rem; /* adds space between the left border and the button text */
}

.content {
    border-left: 0px solid #ccc;
    display: inline-grid;
    position: relative;
}

.content-collapsed {
    grid-template-columns: 0fr;
    grid-template-rows: 0fr;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 0;
    padding-bottom: 0;
    visibility: hidden;
}

.content-expanded {
    border-left-width: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*
      Note: we still use arrow height as the vertical margin, even on
      desktop when there is no arrow, but it's good enough.
    */
    margin-bottom: 1.4rem;
    margin-left: -2.3rem;
    margin-top: 1.4rem;
    min-width: 100%;
    padding-bottom: 1rem;
    padding-left: 2.3rem;
    visibility: visible;
}

.content-wrapper {
    overflow: hidden;
}

.label-style {
    font-size: var(--wb-font-heading-size-medium);
    line-height: inherit;
    /*
      The following property adjusts the large space between the button text and the caret icon.
      Since we are unable to adjust the styling of the icon (where the extra space exists),
      we are adjusting it on the text label by using a negative margin.
    */
    margin-right: -0.6rem;
    text-align: left;
    white-space: normal;
}

@media (prefers-reduced-motion: no-preference) {
    .transition-collapsed {
        transition:
                all 0.25s step-end,
                grid-template-rows 0.25s,
                margin-top 0.25s,
                margin-bottom 0.25s,
                padding-bottom 0.25s;
    }

    .transition-expanded {
        transition:
                grid-template-rows 0.5s,
                margin-top 0.5s,
                margin-bottom 0.5s,
                padding-bottom 0.5s;
    }
}
