.tooltip-body {
    color: var(--wb-semanticColor-core-foreground-neutral-strong);
    font-size: var(--wb-font-body-size-medium);
    font-weight: var(--wb-font-weight-medium);
    line-height: var(--wb-font-body-lineHeight-medium);
}
