/**
 * This file contains styles that are used in prod that ultimately
 * get passed onto Perseus components. This file is imported in the
 * .storybook/preview.js file so that the components can have the same
 * styles as prod when viewed within Storybook.
 */
html,
body {
    height: 100%;
}
body {
    font-family: "Lato", "Noto Sans", "Helvetica", "Corbel", sans-serif,
        "Helvetica", "Corbel", sans-serif;
    font-size: 14px;
    margin: 0;
    color: var(--wb-semanticColor-core-foreground-success-strong);
    line-height: 1.4;
    min-width: 0;
}
.box-sizing-border-box-reset {
    box-sizing: border-box;
}
.box-sizing-border-box-reset * {
    box-sizing: inherit;
}
