/* Styles for the InputWithExamples */
.input-with-examples {
    border-radius: var(--wb-border-radius-radius_040);
    border-width: var(--wb-border-width-thin);
    /*
      Even in RTL languages, math is LTR.
      So we force this component to always render LTR
    */
    direction: ltr;
    display: inline-block;
    font-family: Symbola, "Times New Roman", serif;
    font-size: var(--wb-font-body-size-medium);
    height: 3.2rem;
    line-height: var(--wb-font-body-lineHeight-small);
    padding: 0.4rem 0.5rem;
    text-align: left;
    width: 8rem;
}

.input-with-examples.is-focused {
    border-width: var(--wb-border-width-medium);
    padding: 0.4rem;
}

.input-with-examples.right-align {
    text-align: right;
}

.input-with-examples.center-align {
    text-align: center;
}

.input-with-examples.size-small {
    width: 4rem;
}
