/* Constrain the video widget to the width of the article. Without this
   override, the video will become too large and overflow the article. */
.perseus-video-widget {
    width: 100%;
    /* Need height to maintain the aspect ratio of the video. */
    height: 100%;
}

/* Center videos that have `full-width` alignment. */
.perseus-video-fixed-to-responsive {
    margin-inline: auto;
}
