name: Weekly maintenance/update tasks
on:
    # workflow_dispatch allows for manual triggering of the workflow
    # Useful for testing that it works without waiting on the cron schedule.
    workflow_dispatch:
    schedule:
        # https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#schedule
        #        ┌─────────── minute (0 - 59)
        #        │ ┌───────── hour (0 - 23)
        #        │ │ ┌─────── day of the month (1 - 31)
        #        │ │ │ ┌───── month (1 - 12 or JAN-DEC)
        #        │ │ │ │ ┌─── day of the week (0 - 6 or SUN-SAT)
        #        v v v v v
        - cron: 30 7 * * 1 # in UTC
        #       Run on Mondays @ 7:30am UTC (3:30am EDT, 12:30 am PDT)

jobs:
    update-browserslist:
        name: Update the browserslist database (used by caniuse-lite)
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                node-version: [24.x]
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

            - name: Install & cache node_modules
              uses: ./.github/actions/shared-node-cache
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Update browserslist DB
              run: pnpm exec update-browserslist-db

            - name: Create empty changeset
              run: pnpm changeset --empty

            - name: Create Pull Request
              uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
              with:
                  token: ${{ secrets.KHAN_ACTIONS_BOT_TOKEN }}
                  team-reviewers: perseus, frontend-infra-web
                  commit-message: "chore: update browserslist"
                  title: Update browserslist
                  body: |
                      # Summary

                      Updates the `browserslist` and `caniuse-lite` npm packages

                      ## Reviewing notes:

                      There should only be changes to the `pnpm-lock.yaml` file in
                      this PR. Check that there is only 1 `caniuse-lite` package
                      reference in the `pnpm-lock.yaml` file (the intent of this
                      update is to ensure that `caniuse-lite` is on the latest
                      version and that there aren't multiple, conflicting
                      versions that different tools might see).

                      If everything looks fine, please approve this PR and then
                      land it (either with the Big Green Merge Button™️ or by
                      using `git land <this pr #>` in a terminal).
