name: Node CI

on:
  pull_request:
    # edited is needed because that's the trigger when the base branch is
    # changed on a PR
    # The rest are the defaults.
    types: [edited, opened, synchronize, reopened]

jobs:
  changeset:
    name: Check for .changeset file
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
      - uses: Khan/actions@check-for-changeset-v0

  lint:
    name: Lint, Flow, and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - name: Checking out latest commit
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: Khan/actions@shared-node-cache-v0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Get All Changed Files
      uses: Khan/actions@get-changed-files-v1
      id: changed

    - id: js-files
      name: Find .js changed files
      uses: Khan/actions@filter-files-v0
      with:
        changed-files: ${{ steps.changed.outputs.files }}
        extensions: '.js,.jsx'

    - id: eslint-reset
      uses: Khan/actions@filter-files-v0
      name: Files that would trigger a full eslint run
      with:
        changed-files: ${{ steps.changed.outputs.files }}
        files: '.eslintrc.js,package.json,yarn.lock,.eslintignore'

    # Linting / type checking
    - name: Eslint
      uses: Khan/actions@full-or-limited-v0
      with:
        full-trigger: ${{ steps.eslint-reset.outputs.filtered }}
        full: yarn lint packages
        limited-trigger: ${{ steps.js-files.outputs.filtered }}
        limited: yarn lint {}

    - name: Run Flow
      if: steps.js-files.outputs.filtered != '[]'
      run: yarn flow

    # Run tests for our target matrix
    - id: jest-reset
      uses: Khan/actions@filter-files-v0
      name: Files that would trigger a full jest run
      with:
        changed-files: ${{ steps.changed.outputs.files }}
        files: 'jest.config.js,package.json,yarn.lock,test.config.js,test.transform.js'

    - name: Jest
      uses: Khan/actions@full-or-limited-v0
      with:
        full-trigger: ${{ steps.jest-reset.outputs.filtered }}
        full: yarn jest
        limited-trigger: ${{ steps.js-files.outputs.filtered }}
        limited: yarn jest --passWithNoTests --findRelatedTests {}

  cypress:
    name: Cypress Coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - name: Checking out latest commit
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: Khan/actions@shared-node-cache-v0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Run test with coverage
      run: yarn cypress:ci

    - name: Generate report
      run: yarn nyc report --reporter=lcov

    - name: Upload Coverage
      # We don't bother collecting a record of coverage for dependabot changes
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage/coverage-final.json
        fail_ci_if_error: true

  coverage:
    name: Jest Coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: Khan/actions@shared-node-cache-v0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Jest with coverage
      run: yarn coverage

    - name: Upload Coverage
      # We don't bother collecting a record of coverage for dependabot changes
      if: ${{ github.actor != 'dependabot[bot]' }}
      uses: codecov/codecov-action@v2
      with:
        files: ./coverage/coverage-final.json
        fail_ci_if_error: true

  check_builds:
    name: Check builds for changes in size
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - name: Checking out latest commit
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: Khan/actions@shared-node-cache-v0
      with:
        node-version: ${{ matrix.node-version }}
    # Make sure our packages aren't growing unexpectedly
    # This must come last as it builds the old code last and so leaves the
    # wrong code in place for the next job.
    - name: Check Builds
      uses: preactjs/compressed-size-action@v2
      with:
        # We only care about the ES module size, really:
        pattern: "**/dist/es/index.js"
        # Always ignore SourceMaps and node_modules:
        exclude: "{**/*.map,**/node_modules/**}"
        # Clean up before a build
        clean-script: "clean"
        # Build production
        build-script: "build:prodsizecheck"

  extract_strings:
    name: Extract i18n strings
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: Khan/actions@shared-node-cache-v0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Extract strings
      run: yarn extract-strings
