name: Node CI

on:
  pull_request:
    # edited is needed because that's the trigger when the base branch is
    # changed on a PR
    # The rest are the defaults.
    types: [edited, opened, synchronize, reopened]

jobs:
  lint:
    name: Lint, flow, and coverage check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - name: Checking out latest commit
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: ./.github/actions/shared-node-cache
      with:
        node-version: ${{ matrix.node-version }}

    - name: Get All Changed Files
      uses: jaredly/get-changed-files@v1.0.1
      id: changed
      with:
        format: space-delimited
        absolute: true

    # Linting / type checking
    - name: Run ESLint (all files)
      if: contains(steps.changed.outputs.added_modified, '.eslintrc.js') || contains(steps.changed.outputs.added_modified, 'yarn.lock')
      run: |
        yarn lint:ci packages
    - name: Run ESLint (added/changed files)
      if: contains(steps.changed.outputs.added_modified, '.eslintrc.js') == false && contains(steps.changed.outputs.added_modified, 'yarn.lock') == false
      run: |
        yarn lint:ci ${{ steps.changed.outputs.added_modified }}
    - name: Run Flow
      uses: Khan/flow-action@v1.1.3
      with:
        flow-bin: ./node_modules/.bin/flow
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    # Run tests for our target matrix
    - name: Run Jest (all files)
      if: |
        contains(steps.changed.outputs.added_modified, 'jest.config.js') ||
        contains(steps.changed.outputs.added_modified, 'yarn.lock') ||
        contains(steps.changed.outputs.added_modified, 'test.config.js') ||
        contains(steps.changed.outputs.added_modified, 'test.transform.js')
      run: yarn test
    - name: Run Jest (added/changed files)
      if: |
        (contains(steps.changed.outputs.added_modified, 'jest.config.js') ||
         contains(steps.changed.outputs.added_modified, 'yarn.lock') ||
         contains(steps.changed.outputs.added_modified, 'test.config.js') ||
         contains(steps.changed.outputs.added_modified, 'test.transform.js')) == false
      run: yarn test --passWithNoTests ${{ steps.changed.outputs.added_modified }}

  check_builds:
    name: Check builds for changes in size
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - name: Checking out latest commit
      uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: ./.github/actions/shared-node-cache
      with:
        node-version: ${{ matrix.node-version }}
    # Make sure our packages aren't growing unexpectedly
    # This must come last as it builds the old code last and so leaves the
    # wrong code in place for the next job.
    - name: Check Builds
      uses: preactjs/compressed-size-action@v2
      with:
        # We only care about the ES module size, really:
        pattern: "**/dist/es/index.js"
        # Always ignore SourceMaps and node_modules:
        exclude: "{**/*.map,**/node_modules/**}"
        # Clean up before a build
        clean-script: "clean"
        # Build production
        build-script: "build:prodsizecheck"

  coverage:
    name: Test Coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: ./.github/actions/shared-node-cache
      with:
        node-version: ${{ matrix.node-version }}

    # Collect and record coverage
    - name: Run Jest with coverage
      run: yarn coverage
    # - name: Upload Coverage
    #   # We don't bother collecting a record of coverage for dependabot changes
    #   if: ${{ github.actor != 'dependabot[bot]' }}
    #   uses: codecov/codecov-action@v2
    #   with:
    #     token: ${{ secrets.CODECOV_TOKEN }}
    #     files: ./coverage/coverage-final.json
    #     fail_ci_if_error: true

  extract_strings:
    name: Extract i18n strings
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [16.x]
    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }} & Install & cache node_modules
      uses: ./.github/actions/shared-node-cache
      with:
        node-version: ${{ matrix.node-version }}

    - name: Extract strings
      run: yarn extract-strings
