name: Node CI (landed on protected branch)

on:
    push:
        branches:
            - main
            - changeset-release/*
            - feature/*

# When a PR is landed to main, we want to ensure that all of these jobs run and
# that they all complete before the next PR's changes are processed by this
# workflow.
# See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
    group: ${{ github.workflow }}
    cancel-in-progress: false

# Our jobs run like this to minimize wasting resource cycles:
#   1. Prime caches for primary configuration.  This way subsequent jobs
#      can run in parallel but rely on this primed cache.
#   2. Coverage
#
# For pushes directly to a branch, we assume a PR has been used with wider
# checks, this just makes sure our coverage data is up-to-date.
jobs:
    prime_cache_primary:
        name: Prime node_modules cache for primary configuration
        runs-on: ${{ matrix.os }}
        strategy:
            # Use a matrix as it means we get the version info in the job name
            # which is very helpful.
            matrix:
                os: [ubuntu-latest]
                node-version: [20.x]
        steps:
            - uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: yarn

            - name: yarn install
              run: yarn install

    coverage:
        needs: [prime_cache_primary]
        name: Jest Coverage
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                node-version: [20.x]
        steps:
            - uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: yarn

            - name: yarn install
              run: yarn install

            - name: Jest with coverage
              run: yarn coverage

            - name: Upload Coverage
              uses: codecov/codecov-action@v4
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  files: ./coverage/coverage-final.json

    cypress:
        needs: [prime_cache_primary]
        name: Cypress
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest]
                node-version: [20.x]
        steps:
            - name: Checking out latest commit
              uses: actions/checkout@v4

            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: yarn

            - name: yarn install
              run: yarn install

            - name: Run test with coverage
              run: yarn cypress:ci
