.background-url-input {
    border: 1px solid var(--wb-semanticColor-core-border-neutral-subtle);
    border-radius: var(--wb-sizing-size_040);
    padding: var(--wb-sizing-size_040);
}

/* TODO(LEMS-3686): Remove the !important once Wonder Blocks is in the shared layer. */
.checkbox-row {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    margin-bottom: var(--wb-sizing-size_080) !important;
}

.protractor-section {
    margin-top: var(--wb-sizing-size_080) !important;
    padding-top: var(--wb-sizing-size_080) !important;
    padding-bottom: var(--wb-sizing-size_080) !important;
    border-top: 1px solid var(--wb-semanticColor-core-border-neutral-subtle) !important;
    border-bottom: 1px solid var(--wb-semanticColor-core-border-neutral-subtle) !important;
}
